// utils styles
@import "./utils/vars";
@import "./utils/visually-hidden";

// base styles
@import "./base/common";
@import "./base/reset";
@import "./base/style";

// components  styles
@import "./components/conteiner";
@import "./components/buttons";
@import "./components/logo";
@import "./components/socials";
@import "./components/modal";
@import "./components/section";

// layouts styles
@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/benefits";
@import "./layouts/work";
@import "./layouts/team";
@import "./layouts/clients";
@import "./layouts/footer";
@import "./layouts/portfolio";