.mobile-menu-btn {
padding: 11px 8px 11px 8px;
border: none;
background-color: transparent;
z-index: 10;

@media screen and(min-width:768px) {
display: none;
}

@media screen and(min-width:1200px) {
display: none;
}
}

.mobile-menu-icon {
display: flex;
align-items: center;
}

.mobile-menu-burger {
transition: 100ms;

.mobile-menu-btn.is-open & {
opacity: 0; 
}
}

.mobile-menu-close {
opacity: 0;
transition: 100ms;

&:hover {
fill: #2196F3;
}

.mobile-menu-btn.is-open & {
opacity: 1; 
}
}

// Мобільне меню стилі

.mobile-menu {
position: fixed;
top: 0;
left: 0;
transform: translateX(100%);

display: flex;
flex-direction: column;

width: 100%;
height: 100%;
padding: 48px 40px;

background-color: var(--white-bg-color);
z-index: 1;

transition: transform 500ms;

&.is-open {
transform: translateX(0%);
}
}

.mobile-menu-nav {
margin-bottom: auto;

font-weight: 500;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;

color: var(--black-color);
}

.mobile-menu-nav-item {
&:not(:last-child) {
margin-bottom: 32px;
}

.current {
color: var(--accent-color);
}
}

.mobile-menu-contacts {
margin-bottom: 64px;

font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: var(--grey-color);
}

.mobile-menu-contacts-item {
&:not(:last-child) {
margin-bottom: 32px;
}

.accent {
font-size: 34px;
color: var(--accent-color);
}
}

.mobile-menu-socials {
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 10px;

font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: var(--accent-color);
}

.mobile-menu-socials-item:not(:last-child) .mobile-menu-socials-link {
padding-right: 10px;
border-right: 1px solid rgba(33, 33, 33, 0.2);
}