:root {
    /* Шрифт */
    --main-font: "Roboto";
    --secondary-font: "Raleway";

    /* Колір основного тексту (чорний) */
    --black-color:#212121;
    /* Вторинний колір (сірий)*/
     --grey-color: #757575;
    --grey-color-icon: #AFB1B8;
    /* Белий текст і фон */
    --white-bg-color: #ffffff;
    /* Акцент кольору */
    --accent-color: #f32160;

    /* Різне */
    --accent-color-bg: #e8185d;
    --accent-color-card: rgba(72, 243, 33, 0.9);
    --bg-color-photo: #F5F4FA;
    --color-sidebar: #2F303A;

    /* Формула */
    --items: 3;
	--indent: 30px;
    
    /* Анімації */
    --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }