.benefits {
padding-top: 60px;
padding-bottom: 60px;

@media screen and(min-width:1200px) {
padding-top: 94px;
padding-bottom: 94px; 
}
}

.benefits__list {
display: flex;
gap: 30px;
--item: 1;

@media screen and (min-width: 768px) {
--item: 2;
}
@media screen and (min-width: 1200px) {
--item: 4;
}
}

.benefits__item {
width: 450px;

@media screen and (min-width: 768px) {
width: 354px;
}
@media screen and (min-width: 1200px) {
width: 270px;
}
}

.benefits__svg  {
margin-bottom: 30px;
width: 450px;
height: 120px;
display: flex;
align-items: center;
justify-content: center;
background: #F5F4FA;
border-radius: 4px;

@media screen and (min-width: 768px) {
width: 354px;
}
@media screen and (min-width: 1200px) {
width: 270px;
}
}

.benefits__caption {
margin-bottom: 10px;
color: var(--black-color);
}

.benefits__subtitle {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--grey-color);
}