.clients {
padding-top: 60px;
padding-bottom: 60px;

@media screen and(min-width:1200px) {
padding-top: 94px;
padding-bottom: 94px;
}
}

.clients__headline  {
margin-bottom: 50px;
}

.clients__list {
display: flex;
gap: 30px;
--item: 2;

@media screen and (min-width: 768px) {
--item: 3;
}
@media screen and (min-width: 1200px) {
--item: 6;
}
}

.clients__card-list {
display: flex;
align-items: center;
justify-content: center;
width: 210px;
height: 92px;
color: var(--grey-color-icon);
border: 1px solid var(--grey-color-icon);
border-radius: 4px;
transition: color var(--anim), border var(--anim);

@media screen and (min-width: 768px) {
width: 226px;
height: 92px;
}
@media screen and (min-width: 1200px) {
width: 170px;
height: 92px;
}


&--hover:hover,
&--hover:focus  {
color: var(--accent-color);
border: 1px solid var(--accent-color);
}
}

.clients__social-icon {
fill: currentColor;
}