.clients {
padding-top: 94px;
}

.clients__headline  {
margin-bottom: 50px;
}

.clients__list {
display: flex;
justify-content: center;
}

.clients__card:not(:last-child) {
margin-right: 30px;
}

.clients__card-list {
display: flex;
align-items: center;
justify-content: center;
width: 170px;
height: 92px;
color: var(--grey-color-icon);
border: 1px solid var(--grey-color-icon);
border-radius: 4px;
transition: color var(--anim), border var(--anim);

&--hover:hover,
&--hover:focus  {
color: var(--accent-color);
border: 1px solid var(--accent-color);
}
}

.clients__social-icon {
fill: currentColor;
}