.footer {
padding-top: 60px;
padding-bottom: 60px;

background: var(--color-sidebar);
}

.footer__conteiner {

@media screen and (min-width: 768px) {
display: flex;
flex-direction: column;
}
@media screen and (min-width: 1200px) {
display: flex;
flex-direction: row;
}
}

.footer__boxes {
display: flex;
justify-content: center;
flex-direction: column;

@media screen and (min-width: 768px) {
display: flex;
justify-content: center;
flex-direction: row;
}
@media screen and (min-width: 1200px) {
display: flex;
flex-direction: row;
}
}

.footer__address {
margin-bottom: 9px;
}

.address__googlemaps {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--white-bg-color);
font-style: normal;
}

.footer__item {
margin-bottom: 9px;
}

.footer__contacts {
text-decoration: none;
}

.footer__join {
margin: 12px 0px 0px 70px;
padding-bottom: 20px;

color: var(--white-bg-color);
}

/****************************************************************************************************************Форма футер**********************************************************************************************************************/
.footer__subscribe {
margin-top: 12px;
margin-left: 93px;
max-width: 570px;
max-height: 86px;
}
    
.footer__subscribe-txt {
padding-bottom: 20px;
margin: 0;

display: flex;
flex-direction: column;
align-items: center;
    
color: var(--white-bg-color);

@media screen and (min-width: 768px) {
display: flex;
flex-direction: column;
align-items: center;
}

@media screen and (min-width: 1200px) {
display: flex;
flex-direction: row;
}
}
    
.footer__form {
display: flex;
flex-direction: column;
align-items: center;

@media screen and (min-width: 768px) {
display: flex;
flex-direction: column;
align-items: center;
}

@media screen and (min-width: 1200px) {
display: inline-flex;
flex-direction: row;
}
}
    
.footer__label {
margin-right: 12px;
}

.footer__form-input {
padding-left: 16px;
    
width: 358px;
height: 50px;
left: 815px;
top: 2787px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: var(--color-sidebar);
outline: none;
font-weight: 400;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.03em;
    
color: rgba(255, 255, 255, 0.6);
    
&:focus,
&:focus-visible {
border-color: var(--accent-color);
}
}   
    
.footer__list .footer__contacts {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:rgba(255, 255, 255, 0.6);
}