.team {
padding-top: 0;
background-color: var(--bg-color-photo);
}

.team__headline {
margin-bottom: 50px;
}

.team__list {
display: flex;
}

.team__item {
margin-right: 30px;

width: 270px;
top: 1635px;
background: var(--white-bg-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

 &:last-child {
 margin-right: 0px;
 }
 }

.team__comand {
padding-top: 30px;
padding-bottom: 30px;
}

.team__name {
margin-bottom: 10px;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--black-color);
background-color: var(--white-bg-color);
}

.team__job {
margin-bottom: 16px;
font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--grey-color)
}

.team__social  {
display: flex;
justify-content: center;
}